@page "/ingredientrecipes"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Ingredientes de Recetas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/ingredientrecipes/create">Nuevos Ingredientes de Recetas</a>
</div>

<GenericList MyList="IngredientRecipes">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Receta</th>
                    <th>Ingrediente</th>
                    <th>Cantidad</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ingredientRecipe in IngredientRecipes!)
                {
                    <tr>
                        <td>
                            @GetRecipeTitle(ingredientRecipe.RecipeId)
                        </td>
                        <td>
                            @GetIngredientName(ingredientRecipe.IngredientId)
                        </td>
                        <td>
                            @ingredientRecipe.Quantity
                        </td>
                        <td>
                            <a href="/ingredientrecipes/edit/@ingredientRecipe.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(ingredientRecipe))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<IngredientRecipe>? IngredientRecipes { get; set; }
    public List<Recipe>? Recipes { get; set; }
    public List<Ingredient>? Ingredients { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var ingredientRecipeResponse = await repository.Get<List<IngredientRecipe>>("api/ingredientrecipes");
        IngredientRecipes = ingredientRecipeResponse.Response!;

        var recipeResponse = await repository.Get<List<Recipe>>("api/recipes");
        Recipes = recipeResponse.Response!;

        var ingredientResponse = await repository.Get<List<Ingredient>>("api/ingredients");
        Ingredients = ingredientResponse.Response!;
    }

    private string GetRecipeTitle(int recipeId)
    {
        var recipe = Recipes.FirstOrDefault(r => r.Id == recipeId);
        return recipe != null ? recipe.Title : string.Empty;
    }

    private string GetIngredientName(int ingredientId)
    {
        var ingredient = Ingredients.FirstOrDefault(c => c.Id == ingredientId);
        return ingredient != null ? ingredient.IngredientName : string.Empty;
    }

    private async Task Delete(IngredientRecipe ingredientRecipe)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de que desea borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/ingredientrecipes/{ingredientRecipe.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var errorMessage = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
