@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView Roles="Admin, User">
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <a href="/"><oi class="oi oi-home pe-4"/></a>
            <AuthLinks />
        </div>

        <article class="container content px-4 py-5">
            @Body
        </article>
    </main>
</div>
