<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Recipes.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipeCategories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Categorias de Recetas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorites">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Favoritos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ingredientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredientRecipes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ingredientes de Recetas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Recetas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reviews">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reseñas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="steps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pasos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
