@page "/roles/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Role</h3>

<RoleForm @ref="roleForm" Role="role" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Role role = new();

    private RoleForm? roleForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/roles", role);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        roleForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/roles");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/roles");
    }
}