@page "/steps/create"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear paso</h3>

<StepForm @ref="recipeForm" Step="step" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Step step = new();

    private StepForm? recipeForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/steps", step);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        recipeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/steps");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/steps");
    }
}